/** This is in order to reset the browser */
body {
  margin: 0px;
}

#contributions {
  margin: 0px;
  padding: 0px;
  width: 100vw;

  div {
    width: 100%;
    box-sizing: border-box;

    path {
      stroke: #DCDCDC;
      stroke-width: 1;
    }
  }

  .axis {
    display: none;
  }
}
