@mixin midAlignContent () {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.select-organization {

  &-component-box {
    width: 270px;
    height: 67px;
    background-color: #00a0cc;
    float: left;
    cursor: pointer;

    &-avatar {
      float: left;
      width: 73px;
      height: 100%;
      @include midAlignContent();
      margin-left: 21px;

      .avatar {
        border-radius: 50%;
        width: 40px;
        height: 33px;
        background-color: #02596f;
        text-align: center;
        padding-top: 7px;

        svg {
          fill: #00abd6;
          fill-rule: evenodd;
          width: 25px;
        }
      }
    }

    &-info {
      width: 134px;
      height: 100%;
      @include midAlignContent();
      float: left;

      .info {
        height: 34px;
        width: 134px;

        .company-name {
          font-size: 20px;
          color: #ffffff;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 400;
        }
      }
    }
  }

  &-component-drop {
    position: relative;

    &-options {
      width: 270px;
      position: absolute;
      top:67px;
      z-index: 1000000;
      background-color: #ffffff;
      border-radius: 0px 0px 0px 3px;
      box-shadow: 0 2px 11px 1px rgba(29, 43, 47, 0.3);

      .companies {
        width: 100%;

        .company {
          border: 1px #ecf1f2 solid;
          border-bottom: 0px;
          background-color: #fafbfb;
          width: calc(100%-2px);
          height: 69px;
          cursor: pointer;

          .company-icon-ct {
            float: left;
            width: 73px;
            height: 100%;
            @include midAlignContent();
            margin-left: 21px;

            .company-icon {
              border-radius: 50%;
              width: 40px;
              height: 40px;
              color: #ffffff;
              font-weight: 700;
              @include midAlignContent();
              justify-content: center;
            }
          }

          .info-ct {
            height: 100%;
            float: left;
            width: 131px;
            @include midAlignContent();
            text-overflow: ellipsis;

            .info {
              .name {
                height: 20px;
                line-height: 17px;
                font-size: 16px;
                color: #464b51;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 133px;
                font-weight: 400;
              }
            }
          }
        }

        $companyColors: #7935ea, #1a99ea, #54bf25, #e7c900, #f27d15, #ef5031;

        @for $i from 1 through length($companyColors) {
          .company:nth-child(#{length($companyColors)}n+#{$i}) {
              .company-icon {
                background-color: nth($companyColors, $i);
              }
          }
        }
      }
    }

    &-options-empty {
      width: 270px;
      position: absolute;
      top:67px;
    }
  }
}
