.grot-login-form {

    @webkit-box-shadow: none !important;
    @moz-box-shadow: none !important;

    .list-group {
        border-radius: 0px !important;
        -webkit-box-shadow: @webkit-box-shadow;
        -moz-box-shadow: none !important;
        box-shadow: none !important;

        .list-group-item {
            border-radius: 0px !important;
            -webkit-box-shadow: @webkit-box-shadow;
            -moz-box-shadow: @moz-box-shadow;
            box-shadow: none !important;

            &:first-child {
                border-top-left-radius: 0px !important;
                border-top-right-radius: 0px !important;
                border-radius: 0px !important;
                -webkit-box-shadow: @webkit-box-shadow;
                -moz-box-shadow: @moz-box-shadow;
                box-shadow: none !important;
            }

            &:last-child {
                text-align: right;
                border-top-left-radius: 0px !important;
                border-top-right-radius: 0px !important;
                border-radius: 0px !important;
                -webkit-box-shadow: @webkit-box-shadow;
                -moz-box-shadow: @moz-box-shadow;
                box-shadow: none !important;
            }
        }
    }
}
