.grot-kanban-table {

    @background: rgba(0, 50, 100, 0.05);

    padding: 5px 10px 5px 10px;

    .header_edit {
        display: none;
    }

    .btn-default {
        border-width: 0px;
    }

    .right {
        text-align: right;
    }

    .header:hover .header_edit {
        display:inline;
    }

    &:hover {
        background:@background;
    }

    &:hover .btn-default {
        background: transparent;
    }
}
