.grot-panel {
    border: 0px !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    .panel-heading {
        text-align: left !important;
        background-color: #fff !important;
        border: 0px !important;
    }
}
