@mixin midAlignContent () {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.select-user-component {

  &-box {
    width: 270px;
    height: 67px;
    background-color: #00abd6;
    float: left;
    cursor: pointer;

    &:hover {
      background-color: #019ec9;
    }

    &-avatar {
      float: left;
      width: 73px;
      height: 100%;
      @include midAlignContent();
      margin-left: 21px;

      .avatar {
        border-radius: 50%;
        width: 40px;
        height: 33px;
        background-color: #02596f;
        text-align: center;
        padding-top: 7px;

        svg {
          fill: #00abd6;
          fill-rule: evenodd;
          width: 25px;
        }

        &:hover {
          width: 38px;
          height: 31px;
          margin-left:1px;

          svg {
            width: 24px;
          }
        }
      }
    }

    &-info {
      width: 134px;
      height: 100%;
      @include midAlignContent();
      float: left;

      .info {

        height: 34px;
        width: 134px;

        .user-name {
          height: 17px;
          line-height: 17px;
          font-size: 15px;
          color: #ffffff;
          opacity: 0.5;
          font-weigth: 300;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 100;
        }
        .company-name {
          height: 17px;
          line-height: 17px;
          font-size: 16px;
          color: #ffffff;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-weight: 400;
        }
      }
    }

    &-arrow {
      height: 100%;
      @include midAlignContent();
      float: left;
      justify-content: center;
      width: 42px;

      .arrow {
        height: 16px;
        width: 26px;

        svg {
          fill: #fff;
          stroke: #fff;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-width: 0.6px;
          fill-rule: evenodd;
          width:26px;
          height:16px;
        }
      }
    }
  }

  .app-top-user-modal-ct {
    position:relative;
  }

  .app-top-user-modal {
    width: 270px;
    position: absolute;
    top:67px;
    z-index: 1000000;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 3px;
    box-shadow: 0 2px 11px 1px rgba(29, 43, 47, 0.3);

    .profile {
      height: 86px;

      .avatar-ct {

        float: left;
        margin-left: 21px;
        width: 55px;
        height: 100%;
      @include midAlignContent();

        .avatar {
          border-radius: 50%;
          width: 55px;
          height: 46px;
          background-color: #02596f;
          text-align:center;
          padding-top: 9px;

          svg {
            fill: #00abd6;
            fill-rule: evenodd;
            width: 35px;
          }

          &:hover {
            width: 51px;
            height: 42px;
            margin-left:2px;

            svg {
              width: 33px;
            }
          }
        }
      }

      .info-ct {
        width: 134px;
        height: 100%;
        @include midAlignContent();
        float: left;
        margin-left: 16px;

        .info {

          height: 41px;

          .name {
            height: 21px;
            line-height: 17px;
            font-size: 21px;
            color: #464b51;
            text-overflow: ellipsis;
            font-weight: 400;
          }
          .links {
            height: 20px;
            line-height: 17px;
            font-size: 15px;
            color: #a4b0b4;

            a {
            font-weight: normal;
              color: #00abd6;
            }
          }
        }
      }
    }
  }

  .user-box-overlay {
    z-index: 99999;
    position: absolute;
    background-color: #192c31;
    opacity: 0.5;
    top:67px;
    width: 100%;
    height: 100%;
  }

  .user-box-overlay-top {
    z-index: 99999;
    position: absolute;
    top: 0px;
    right: 270px;
    height: 67px;
    width: 100%
  }

  .companies-ct {
    width: 100%;
    border-radius: 0px 0px 0px 3px;

    :last-child {
      border-radius: 0px 0px 0px 3px;
    }

    .company-ct {
      border: 1px #ecf1f2 solid;
      border-bottom: 0px;
      background-color: #fafbfb;
      width: calc(100%-2px);
      height: 69px;
      cursor: pointer;

      .company-icon-ct {
        float: left;
        width: 73px;
        height: 100%;
        @include midAlignContent();
        margin-left: 21px;

        .company-icon {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          color: #ffffff;
          font-weight: 700;
          @include midAlignContent();
          justify-content: center;
        }
      }

      .info-ct {
        height: 100%;
        float: left;
        width: 131px;
        @include midAlignContent();
        text-overflow: ellipsis;

        .info {

          height: 40px;

          .name {
            height: 20px;
            line-height: 17px;
            font-size: 16px;
            color: #464b51;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 133px;
            font-weight: 400;
          }
          .vouchers {
            height: 20px;
            line-height: 17px;
            font-size: 16px;
            color: #abb1b2;
            font-weight: 100;
          }
        }
      }

      .arrow-ct {
        height: 100%;
        @include midAlignContent();
        justify-content: center;

        float: left;
        width: 42px;

        .arrow {
          height: 8px;
          width: 14px;

          svg {
            fill: #d3d5d7;
            fill-rule: evenodd;
          }
        }
      }
    }
  }

  $companyColors: #7935ea, #1a99ea, #54bf25, #e7c900, #f27d15, #ef5031;

  @for $i from 1 through length($companyColors) {
    .company-ct:nth-child(#{length($companyColors)}n+#{$i}) {
        .company-icon {
          background-color: nth($companyColors, $i);
        }
    }
  }
}
